@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

}

<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <!-- Map -->
                <div id="MapDiv" style="width: 1000px; height: 1000px">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="contact-warp">
                    <div class="section-title mb-0">
                        <h2>where can u find a concert?</h2>
                    </div>
                    <p> MAusiCloud Helps you find the location of your chosen artist's performances. </p>

                    <!-- weather -->
                    <h2 style="color:black">Search the city where the show takes place and find out what the weather is like in it</h2>
                    <div class="weather__container">
                        <div class="weather-side">
                            <form id="myForm" action="/Concerts/WeatherDetail" method="post">
                                <div>
                                    <strong style="margin:2px">City Name :  </strong><input id="txtCity" type="text" />
                                    <br />
                                    <br />
                                    <button id="btnSubmit" class="btn btn-sm btn-primary">Get Weather Forecast</button>
                                    <br />
                                    <br />
                                </div>
                            </form>
                            <div>
                                <span id="lblError" style="color:red"></span>
                            </div>
                            <div class="the-forecast" style="display:none">
                                <h3>Weather Forecast</h3>
                                <table>
                                    <tr>
                                        <td>
                                            <strong>Weather Symbol Icon :</strong>
                                            <img id="imgWeatherIconUrl" alt="" src="" title="Weather Icon" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Temperature:</strong>
                                            <label id="lblTemp"></label> °C
                                            <br />
                                            <strong>Description:</strong>
                                            <label id="lblDescription"></label>
                                            <br />
                                            <strong>Humidity:</strong>
                                            <label id="lblHumidity"></label>%
                                            <br />
                                            <br />

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function fetchConcerts() {
        $.ajax({
            type: 'GET',
            url: '/Concerts/GetConcerts?id=1',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: LoadConcerts
        });
    }
</script>



@section Scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw4M0s-wdhkjGK1L5BkWzyilxKp15QnGY&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="~/js/Concerts.js"></script>
    <script src="~/js/weather.js"></script>
}