@model MusiCloud.Models.Concert

@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <!-- Map -->
                <div id="MapDiv" style="width: 1000px; height: 1000px">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="contact-warp">
                    <div class="section-title mb-0">
                        <h2>Get in touch</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mag na aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doe iusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                    <ul>
                        <li>Main Road , No 25/11</li>
                        <li>+34 556788 3221</li>
                        <li>contact@solmusic.com</li>
                    </ul>
                    <form class="contact-from">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Your name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Your e-mail">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Subject">
                                <textarea placeholder="Message"></textarea>
                                <button class="site-btn">send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="ArtistId" value="@Html.DisplayFor(model => model.ArtistId)"</input>

@section Scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw4M0s-wdhkjGK1L5BkWzyilxKp15QnGY&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="~/js/Concerts.js"></script>
}