@model MusiCloud.Models.Concert

@{
    ViewData["Title"] = "Contact";

}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>MusiCloud | HTML Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="SolMusic HTML Template">
    <meta name="keywords" content="music, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />


</head>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw4M0s-wdhkjGK1L5BkWzyilxKp15QnGY&callback=initMap&libraries=&v=weekly" defer></script>
<script type="text/javascript">
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("MapDiv"), {
            zoom: 4,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
    }
</script>
<body>

    <!-- Header section -->
    <header class="header-section clearfix">
    </header>
    <!-- Header section end -->
    <!-- Contact section -->
    <section class="contact-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <!-- Map -->
                    <div id="MapDiv" style="width: 500px; height: 500px"></div>
                    <p>musicloud helps you to find the location of the best concerts. go and find the closer concert to your home. </p>
                    <div id="MapDiv" style="width: 500px; height: 500px">
                    </div>
                    <form class="contact-from">

                        <div class="col-md-6">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-lg-2">
                    <img src="~/img/logo.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/main.js"></script>


</body>
</html>
