
@model MusiCloud.Models.Playlist

@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
    string imageId = Model.ImageId.ToString() + ".jpg";

}

<!-- Title section -->
<section class="category-section spad">
    <div class="container-fluid">

        <!-- Playlist name -->
        <div class="section-title">
            <h2>
                @Html.DisplayFor(model => model.Name)
            </h2>
        </div>
        <!-- End of Playlist name -->
        <!-- Delete playlist button -->
        <div class="d-flex flex-row-reverse">
            <form asp-action="DeletePlaylist">
                
                <input type="hidden" name="playlist_id" value="@Html.DisplayFor(model => model.Id)"/>
                <submit>
                    <input type="submit" class="site-btn" value="delete playlist">
                </submit>
            </form>
        </div>
        <!-- End Delete playlist button -->

        <div class="clearfix"></div>

        <!-- Photo of playlist -->
        <div class="row">
            <div class="mx-auto">
                <div class="category-item">
                    <img src="~/img/playlist/@imageId" alt="">
                </div>
            </div>
        </div>
        <!-- End of Currently playing -->

        <div class="clearfix"></div>

        <!-- Previous Play Pause Next-->
        <div class="row">
            <div class="mx-auto">
                <div class="top_player_controls_box">
                    <button class="jp-prev player_button"></button>
                    <button class="jp-play player_button"></button>
                    <button class="jp-next player_button"></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Songs section  -->
<section class="songs-section">
    <div class="container">

        <!-- song -->
        <div class="song-item">
            <div class="row">
                <div class="col-lg-4">
                    <div class="song-info-box">
                        <img src="img/songs/1.jpg" alt="">
                        <div class="song-info">
                            <h4>Jennifer Brown</h4>
                            <p>One Night in Ibiza</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_player_container">
                        <div class="single_player">
                            <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="music-files/1.mp3"></div>
                            <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                                <div class="jp-gui jp-interface">

                                    <!-- Player Controls -->
                                    <div class="player_controls_box">
                                        <button class="jp-prev player_button" tabindex="0"></button>
                                        <button class="jp-play player_button" tabindex="0"></button>
                                        <button class="jp-next player_button" tabindex="0"></button>
                                        <button class="jp-stop player_button" tabindex="0"></button>
                                    </div>
                                    <!-- Progress Bar -->
                                    <div class="player_bars">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div>
                                                    <div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <!-- Audio Player and Initialization -->
    <script src="~/js/jquery.jplayer.min.js"></script>
    <script src="~/js/jplayerInit.js"></script>

}