@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginAndRegisterLayout.cshtml";
    @model MusiCloud.Models.User
}

<form class="login100-form validate-form" asp-action="Login">
    <span class="login100-form-logo">
        <i class="zmdi zmdi-playlist-audio"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
        Log in
    </span>

    @if (ViewBag.error != null)
    {
        <div class="container-login100-form-btn">
            <span class="badge badge-danger">@ViewBag.error</span>
        </div>
    }
    <div class="wrap-input100 validate-input" data-validate="Enter username">
        <input asp-for="Email" class="input100" type="text" name="Email" placeholder="Email">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input asp-for="Password" class="input100" type="password" name="Password" placeholder="Password">
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="site-btn">
            Login
        </button>
    </div>
</form>