
@{
    ViewData["Title"] = "UserSettings";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

}

<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="contact-warp">
                    <div class="section-title mb-0">
                        <h2>Account Settings</h2>
                    </div>
                    <p>
                        Update you account's settings
                    </p>
                    <form class="contact-from">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Current password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="New Password">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Re-enter password">
                            </div>
                            <div class="col-md-12">
                                <button class="site-btn">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
