@model MusiCloud.Models.ResetPasswordForUser

@{
    ViewData["Title"] = "UserSettings";

    if (ViewData["Type"] == "Admin")
    {
        Layout = "~/Views/Shared/_LoggedInAdminLayout.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
    }
}

<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="contact-warp">
                    <div class="section-title mb-0">
                        <h2>Account Settings</h2>
                    </div>
                    <p>
                        Update you account's settings
                    </p>
                    <form asp-action="UserSettings" class="contact-from">
                        <div class="row">
                            <div class="col-md-6">
                                <input asp-for="CurrentPassword" type="password" placeholder="Current password" name="CurrentPassword">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input asp-for="NewPassword" type="password" placeholder="New Password" name="NewPassword">
                                <span asp-validation-for="NewPassword" class="alert-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="ConfirmNewPassword" type="password" placeholder="Re-enter password" name="ConfirmNewPassword">
                                <span asp-validation-for="ConfirmNewPassword" class="alert-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <button class="site-btn">Update</button>
                            </div>
                        </div>
                    </form>

                    @if (ViewBag.error != null)
                    {
                        <div class="container-login100-form-btn">
                            <span class="badge badge-danger">@ViewBag.error</span>
                        </div>
                    }

                    @if (ViewBag.success != null)
                    {
                        <div class="container-login100-form-btn">
                            <span class="badge badge-success">@ViewBag.success</span>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
