<!DOCTYPE html>

<html lang="en">

<head>
    <title>@ViewBag.Title - MusiCloud</title>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome MusiCloud">
    <meta name="keywords" content="music, playlists, musicloud">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />


</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
        <span class="site-logo">
            <img src="~/img/logo.jpeg" alt="">
        </span>
        <div class="header-right">
            <a href="#" class="hr-btn">Help</a>
            <span>|</span>
            <div class="user-panel">
                <a asp-action="Index" class="login">Home</a>
                <a asp-action="About" class="register">About</a>
            </div>
        </div>
    </header>
    <!-- Header section end -->
    <!-- Intro section -->
    @RenderBody()
    <!-- Intro section end -->
    <!-- Footer how to -->
    <footer class="how-section spad set-bg" data-setbg=@Url.Content("~/img/how-to-bg.jpg")>
        <div class="container text-white">
            <div class="section-title">
                <h2>How it works</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="~/img/icons/brain.png" alt="">
                        </div>
                        <h4>Create an account</h4>
                        <p>
                            Create your account quickly to unlock unlimited access to your music you desire.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="~/img/icons/pointer.png" alt="">
                        </div>
                        <h4>Choose Your music</h4>
                        <p>
                            Songs, artists, genres, and more... we have at all. Choose your music and build playlists
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="~/img/icons/smartphone.png" alt="">
                        </div>
                        <h4>Listen Music</h4>
                        <p>
                            Wherever you are, whenever you feel like, enjoy your music
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer how to end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>