
@{
    ViewData["Title"] = "AfterSearch";
    Layout = "~/Views/Shared/_LoggedinLayout.cshtml";
}

songs row
<button class="site-btn">
    See All
</button>

albums row
<button class="site-btn">
    See All
</button>

artists row
<button class="site-btn">
    See All
</button>
<h2>View</h2>

