@model IEnumerable<MusiCloud.Models.Song>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

}

<!-- Playlist section -->
<section class="playlist-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Playlists</h2>
        </div>
        <div class="container">
            <ul class="playlist-filter controls">
                <li class="control" data-filter=".genres">Songs</li>
                <li class="control" data-filter=".artists">Artists</li>
                <li class="control" data-filter=".movies">Albums</li>
                <li class="control" data-filter="all">All Playlist</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="row playlist-area">

            @foreach (var item in Model)
            {
                <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                    <div class="playlist-item">
                        <img src=@Html.DisplayFor(modelItem => item.Album.ImageLink) alt="">
                        <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<!-- Playlist section end -->