
@model MusiCloud.Models.Playlist

@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

}

<!-- Playlist section -->
<section class="playlist-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h2> Welcome @User.Identity.Name</h2>
        </div>
        <!-- Create playlist button -->
        <div class="d-flex flex-row-reverse">
            <div class="search-form create-playlist">
                <input id="PlaylistName" type="text" placeholder="Create playlist">
                <button id="CreatePlaylist">Create Playlist</button>
            </div>
            <span class="alert-danger"></span>
        </div>
        <!-- End Ceate playlist button -->
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h4>Your playlist lookup</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <form class="search-form search-song-filter">
                    <input type="text" placeholder="Search for a playlist">
                    <button class="search-song-button">Filter</button>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row playlist-area">
        </div>
    </div>
</section>

@section Scripts
{ 
    <script src="~/js/Playlist.js"></script>
    
    <script>
        $("#CreatePlaylist").click(function () {
            CreatePlaylist();
        })

        function CreatePlaylist() {
            var playlist_data = {
                'Name': $("#PlaylistName").val()
            };
            $("#PlaylistName").attr("placeholder", "Create more playlists").val("")
            $.ajax({
                url: '/Playlists/CreatePlaylistAjax',
                data: playlist_data,
                success: function (res) {
                    CreatePlaylistResult(res);
                }
            });
        }

        function CreatePlaylistResult(res) {
            fetchPlaylists();
        }

    </script>
}
